$iconColorFocussed: rgba(0, 0, 0, 0.87);
$iconColorUnfocussed: rgba(0, 0, 0, 0.54);
$iconColorInactive: rgba(0, 0, 0, 0.38);

$iconColorInvertedFocussed: rgba(255, 255, 255, 1);
$iconColorInvertedUnfocussed: rgba(255, 255, 255, 0.7);
$iconColorInvertedInactive: rgba(255, 255, 255, 0.5);

$backgroundLight: white;
$backgroundDark: darken(#3f51b5, 10%);
$borderColor: rgba(0, 0, 0, 0.15);
$borderColorLight: rgba(255, 255, 255, 0.1);

$cellSize: 60px;
$space: 10px;
$teal: #00b5ad;
$fontColor: #555;
$borderRadius: 2px;

.content {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: $space;
}

@mixin row($bgColor, $iconColor, $borderColor: $borderColor) {
  & {
    display: inline-flex;
    flex-direction: row;

    .cell {
      display: flex;
      flex-direction: column;
      width: $cellSize;
      height: $cellSize * 0.85;
      background-color: $bgColor;
      align-items: center;
      justify-content: center;
      color: $iconColor;
      border-style: solid;
      border-color: $borderColor;
      border-width: 1px 0 0 1px;

      &.desc {
        width: 210px;
        display: flex;
        align-items: stretch;
        background-color: lighten(#eee, 4%);

        div {
          flex: 1;
          display: flex;
          color: $fontColor;
          padding: 2px 10px;
          font-size: 11px;
        }

        div:nth-child(1) {
          flex: 1.2;
          align-items: flex-end;
          font-weight: bold;
          padding-bottom: 1px;
        }
        div:nth-child(2) {
          align-items: flex-start;
          padding-top: 1px;
          color: lighten($fontColor, 30%);
        }
      }

      &:last-child {
        border-right-width: 1px;
      }

      & > svg {
        font-size: 24px;
      }
    }

    &:last-child {
      .cell {
        border-bottom-width: 1px;
        &:last-child {
          border-bottom-right-radius: $borderRadius;
        }
        &:first-child {
          border-bottom-left-radius: $borderRadius;
        }
      }
    }

    &:first-child {
      .cell {
        &:last-child {
          border-top-right-radius: $borderRadius;
        }
        &:first-child {
          border-top-left-radius: $borderRadius;
        }
      }
    }
  }
}

@mixin lightDesc {
  & {
    .cell {
      &.desc {
        background-color: lighten($backgroundDark, 40%);
        div:nth-child(1) {
          color: $backgroundDark;
        }
        div:nth-child(2) {
          color: lighten($backgroundDark, 10%);
        }
      }
    }
  }
}

.row {
  @include row($backgroundLight, $iconColorUnfocussed);
}
.rowFocus {
  @include row($backgroundLight, $iconColorFocussed);
}
.rowInactive {
  @include row($backgroundLight, $iconColorInactive);
}

.rowLight {
  @include row(
    $backgroundDark,
    $iconColorInvertedUnfocussed,
    $borderColorLight
  );
  @include lightDesc();
}
.rowFocusLight {
  @include row($backgroundDark, $iconColorInvertedFocussed, $borderColorLight);
  @include lightDesc();
}
.rowInactiveLight {
  @include row($backgroundDark, $iconColorInvertedInactive, $borderColorLight);
  @include lightDesc();
}

.rotate1 {
  transform: rotate(45deg);
}
.rotate2 {
  transform: rotate(180deg);
}
@keyframes fullRotation {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.rotate3 {
  animation: fullRotation infinite 2s linear;
}
